html { position: relative; min-height: 100%; }

body {
    height: 100%;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background-color: #fff
}

#wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; }
    #wrapper #content-wrapper { overflow-x: hidden; width: 100%; padding-bottom: 80px; }

body.fixed-nav #content-wrapper { margin-top: 56px; padding-left: 90px; }

body.fixed-nav.sidebar-toggled #content-wrapper { padding-left: 0; }

@media (min-width:768px) {
    body.fixed-nav #content-wrapper { padding-left: 225px; }
    body.fixed-nav.sidebar-toggled #content-wrapper { padding-left: 90px; }
}

.scroll-to-top { position: fixed; right: 15px; bottom: 15px; display: none; width: 50px; height: 50px; text-align: center; color: #fff; background: rgba(52, 58, 64, 0.5); line-height: 46px; }
    .scroll-to-top:focus, .scroll-to-top:hover { color: white; }
    .scroll-to-top:hover { background: #343a40; }
    .scroll-to-top i { font-weight: 800; }

.smaller { font-size: 0.7rem; }

.o-hidden { overflow: hidden !important; }

.z-0 { z-index: 0; }

.z-1 { z-index: 1; }

.pointer {cursor:pointer}


@media all and (max-width:480px) {
    .btn-block-onlymobile { width: 100%; display: block; }
}

@media (max-width: 576px) {
    .mobile-none {display:none}
}

@media (min-width:768px) {
    .navbar-nav .form-inline .input-group { width: auto; }    
}

.btn-menu-mobile {float: right}

#sidebar { background-color: #f8f8f8; border-right: 1px solid #eee }
.sidebar { width: 200px !important;  min-height: calc(100vh - 65px);}
    .sidebar .nav-item {text-align: center; position: relative}
        .sidebar .nav-item .nav-link {padding: 15px; color: #777; text-align: left;  }
        .sidebar .nav-item .nav-link .icon {margin-right: 5px; vertical-align:bottom; font-size: 1rem;}
        .sidebar .nav-item .nav-link .text-label {font-size: .9rem;}
        .sidebar .nav-item .nav-link:hover { background-color: #FFF; color:#444}
        .sidebar .nav-item.current-menu-item .nav-link { background-color: #EEE; color: #222; box-shadow: 0px 5px 10px #DDD }
        .sidebar .nav-item.current-menu-item .nav-link::after {content:""; position:absolute; top:0; bottom:0; right:0; border-right: 3px solid #06F}


.container-fluid {padding-left: 20px; padding-right: 20px}
.page-title { padding: 0; margin: 0; padding-left: 1.5rem; height: 40px; line-height: 40px; z-index: 1000;
              background-color: #fff; color: #06F; font-size:1.2rem; border-bottom: 1px solid #eee; }
/* CUSTOM */

.bg-selected {background-color:#fffccc !important}

#topheader { border-bottom: 1px solid #EEE }
    #topheader a { color: #333; }

footer { position: fixed; font-size: 12px; padding: 10px 0; text-align: center; left: 0; bottom: 0; width: 100%; background-color: #fff; color: #555; text-align: center; border-top: 1px dashed #ccc }

.navmenu-tabs { background-color: #f8f9fa; color: #fff; margin-bottom: 1rem; height: 65px }
    .navmenu-tabs .nav-header { font-size: 1.6rem; color: #222; margin-right: 35px; padding-left: 1.5rem; line-height: 65px }
    .navmenu-tabs .nav-item { margin-top: 18px }
        .navmenu-tabs .nav-item.active .nav-link { background-color: #FFF; color: #04F; border: 1px solid #ddd; border-bottom: 1px solid #fff }
        .navmenu-tabs .nav-item .nav-link.active { background-color: #FFF; color: #04F; border: 1px solid #ddd; border-bottom: 1px solid #fff }
        .navmenu-tabs .nav-item .nav-link { color: #555; font-size: 1.25rem; cursor:pointer }
            .navmenu-tabs .nav-item .nav-link:hover { background-color:#f9f9f9; color: #111 }



.btn-default:hover { background-color: #ddd }


.resumo { border: 1px solid #eee; border-radius: 5px; background-color: #ddd; color: #222 }
    .resumo table { width: 100% }
        .resumo table td {font-size:.75rem;  padding: .6rem .75rem }

.content-tab { display: none }

.container-mw {width: 100%; max-width:800px;  }
    .container-mw.container-mw-sm { max-width: 400px }
    .container-mw.container-mw-lg { max-width: 1200px }
    .container-mw.container-mw-centered { margin: 0 auto }

#filtros.card {background-color:#f5f5f5}
#filtros label {font-size: .75rem}

.trysubmit .ng-invalid { border-color: red }

.form-custom label {font-size: .8rem; display:block;  }
.form-custom input.form-control, .form-custom select.form-control {
    padding-left: 5px;
    padding-right: 5px
}
.form-custom.form-custom-label label {
    color: #999
}

.custom-file-label:after { content: 'Procurar' }

#modal_comprovante .modal-body {background: transparent url(../img/loader.gif) no-repeat center center}

.td-buttons .dropdown-menu {font-size: .8rem; box-shadow: 2px 2px 10px #ccc}
.td-buttons .dropdown-item {padding: 10px 15px}


.card-resumo label {
    text-align: right
}
.card-resumo span {font-size:1.8rem; display:block; text-align:right}

/*UPLOAD CSS*/
#upload_angular .thumb {
    padding: .75rem;
    text-align: center
}
#upload_angular .thumb img { width: 100px;  }

.table-custom { width: 100% }
    .table-custom tbody tr { background-color: #fff }
        .table-custom tbody tr:hover { background-color: #f6f6f6; }

    .table-custom.table-total thead th { background-color: #ffd } 
    .table-custom thead th { padding: .8rem; border-bottom: 1px solid #eee; text-transform:uppercase; font-size: .7rem }
    .table-custom tbody td { padding: .8rem; border-bottom: 1px solid #eee; font-size: .8rem; line-height: .8rem}

        .table-custom tbody td a { color: #222 }
        .table-custom tbody td a:hover { text-decoration: none; color: #06C }
        .table-custom tbody td .btn { color: #ccc }
            .table-custom tbody td .btn.text-danger { color: #FBB !important }

    .table-custom tbody tr:hover .btn { color: #333 }
    .table-custom tbody tr:hover .btn.text-danger { color: #c00 !important }

    .table-custom tbody tr .btn.have { color: #99F }
    .table-custom tbody tr:hover .btn.have { color: #06F }

    .table-custom tr.bg-inativo { background-color: #f5f5f5 !important; color: #ccc !important}
        .table-custom tr.bg-inativo a { color: #ccc }         
        .table-custom tr.bg-inativo .td-buttons { text-decoration: none !important }

.form-field {line-height: 38px}
.form-field.mt {margin-top:30px}
